<div class="row">
    <div class="col-4"></div>
    <div class="col-4 container border border-2 border-dark mt-3 p-3 text-center">
        <img class="bank"
            src="../../assets/images/icons8-bank-64.png"
            width="110px" height="26%"><br>
        <h3 style="text-align:center ; font-size: small;color: rgb(16, 84, 121) ;"><b> MY BANK</b></h3>
        <input type="text" id="acno" class="form-control" placeholder="Account number"><br>
        <input type="password" id="paswd" class="form-control" placeholder="password"><br>
        <button class="btn btn-info" onclick="login()" type="button">login</button><br>
        <a href="">Forgot password</a><br><a href="./signup.html">sign up</a>
    </div>
