<div class="row"> </div>
<div class="col-4"></div>
<div class="col-4 container border border-2 border-dark mt-3 p-3 text-center" >
<img src="../../assets/images/icons8-bank-64.png" width="110px" height="26%"><br>
<h3 style="text-align:center ; font-size: small;color: rgb(16, 84, 121) ;"><b> MY BANK</b></h3>
<input type="text" id="uname" class="form-control" placeholder="User name"><br>
<input type="text" id="accno" class="form-control" placeholder="Account number"><br>
<input type="password" id="passwd" class="form-control" placeholder="password"><br>
<button class="btn btn-info" onclick="register()" type="button">Register</button>
<a href="./index.html">sign in</a>
</div>